<%# チャート機能chart.js %>

<div class="chartbox">
<canvas id="myChart"></canvas>
<script>
// var ctx = document.getElementById("myChart");
var ctx = document.getElementById("myChart");
// var item = gon.item
// var review = gon.review
var myChart = new Chart(ctx, {

  type: 'radar',
  data: {
    labels: ["甘味評価", "酸味評価", "水分評価", "食べやすさ評価"],
    datasets: 
    [
        {
        label:  gon.item.item_name ,
        backgroundColor: 'rgba(255,140,0,0.2)',
        borderColor: 'rgba(255,69,0,0.2)',
        data: [gon.rate1, gon.rate2, gon.rate3, gon.rate4]
        },
    ]
  },
  options: {
      scale: {
          ticks: {
              suggestedMin: 0,
              suggestedMax: 5
          }
      }      
  }
});
   
</script> 

</div>

