body {
  padding-top:54px;
} 

.jumbotron {
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  /* background: url(../images/back.jpg) */
  background-size: cover;
  background-position: center 60%;
  border: solid orange 1px;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.textcolor{
  color:orange;
  background-color: antiquewhite;
  opacity: 0.9;
  padding: 10px;
  /* text-align: center; */
  border-radius: 20px;
  width: 50%;
}

.jumbotron {
  margin-bottom: 0px!important;
  }