// @import "bootstrap-sprockets";
// @import "bootstrap";

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


// 一括で全部解除
* {
	float: none;
	position: static;
}

// スマホで画像がはみ出るのでレスポンシブ対応
img {
	max-width: 100%;
	height: auto;
}