// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.review-button{
  text-decoration: none;
  color: blue;
}

.col-xs-12 col-md-4 text-center{
  display: inline-block;  
}

.itempage {
  // background:radial-gradient(#F89174, #FFC778);
    // background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0) 20px, 40px, rgba(66, 213, 42, 0.5) 40px 60px), repeating-linear-gradient(180deg, rgba(243, 201, 140, 0.6) 20px 40px, rgba(255, 255, 255, 1) 40px 60px);
   
    // background: rgb(255,255,255);
    // background: linear-gradient(312deg, rgba(255,255,255,1) 0%, rgba(202,242,198,1) 28%, rgba(182,231,144,1) 64%, rgba(255,255,255,1) 100%);
}

.itemtitle {
  // background-image: linear-gradient(90deg, rgba(255, 242, 58, 1), rgba(238, 194, 117, 1) 80%);
  // padding:5px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-image: linear-gradient(90deg, rgba(253, 230, 65, 1) 15%, rgba(255, 255, 255, 1));
 box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
 padding:7px;
 border-radius: 10px;
}

.top-button{
  text-decoration: none;
  color: white;
}

.update-button{
  text-decoration: none;
  color: blue;
}

.top-button-position{
 
}

.mainbox{
  // background: rgb(255,255,255);
  // background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(244,245,49,1) 33%, rgba(204,210,42,1) 64%, rgba(255,255,255,1) 100%);
  background-color: rgb(251, 240, 229);
  opacity: 0.8;
}

.ratebox
{
  // background: rgb(255,255,255);
  // background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(244,245,49,1) 33%, rgba(204,210,42,1) 64%, rgba(255,255,255,1) 100%);
  background-color: rgb(251, 240, 229);
  opacity: 0.8;

}

.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffe9a7;
  z-index: -1;
}
.Cross {
  // background: radial-gradient(circle, transparent 20%, #ffe9a7 20%, #ffe9a7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffe9a7 20%, #ffe9a7 80%, transparent 80%, transparent) 50px 50px, linear-gradient(#ffc107 4px, transparent 4px) 0 -2px, linear-gradient(90deg, #ffc107 4px, #ffe9a7 4px) -2px 0;
background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

.sendform{
  width: 60%;
  padding: 0px 0px 20px 20px;
}

.form-login{
  display: flex;
  flex-flow: column;
  width: 20%;
  padding: 0px 0px 0px 0px;
}

.box28 {
  background: rgba(217, 200, 156, 0.4);
  position: relative;
  margin: 1em 1em;
  padding: 40px 20px 30px;
  border: solid 2px #FFC107;
  border-width:5px;
  width:20%;

 }
.box28 .box-title {
  position: absolute;
  display: inline-block;
  top: -5px;
  left: -5px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #FFC107;
  color: #878282;
  font-weight: bold;
}
.box28 p {
  margin: 0; 
  padding: 0;
}

.index-search-box {
  margin-top: 5px;
  /* height: 48px; */
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fae59f;
  border-radius: 10px;
  font-size: 16px;
  resize: none;
 }


.box28a {
  background: rgba(217, 200, 156, 0.4);
  position: relative;
  margin: 1em 1em;
  padding: 40px 20px 30px;
  border: solid 2px #FFC107;
  border-width:5px;
  width:80%;
}
.box28a .box-title {
  position: absolute;
  display: inline-block;
  top: -5px;
  left: -5px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #FFC107;
  color: #878282;
  font-weight: bold;
}
.box28a p {
  margin: 0; 
  padding: 0;
}

.main-search-box{
  display: flex;
}

.bulb{
  color:#fabb00;
}

// box29はトップページのitem概要で利用
.box29 {
  margin: 2em 0;
  background: #b2f1bc;
}
.box29 .box-title {
  font-size: 1.2em;
  background: #40c54b;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box29 p {
  padding: 15px 20px;
  margin: 0;
}



// img {
//   width:100%;
//   max-width: 100%;
//   height: auto;
//   }

.pagination {
  display: flex;
  justify-content: center;
}

.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  background: #ffb701;     /*背景の色を変える*/
  color: #878282;   /*文字の色を変える*/
}


ul.pagination li.active .page-link {
  // border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: #ffb701;
  border: none;
  
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #faff93;     /*背景の色を変える*/
  // border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  // border-radius: 15px;    /*角を丸くする*/
}




.box28s {
  background: rgba(217, 200, 156, 0.4);
  position: relative;
  margin: 1em 25em;
  padding: 40px 20px 30px;
  border: solid 2px #FFC107;
  border-width:5px;
 }
.box28s .box-title {
  position: absolute;
  display: inline-block;
  top: -5px;
  left: -5px;
  padding: 0 9px;
  height: 25px;
  line-height: 25px;
  font-size: 17px;
  background: #FFC107;
  color: #878282;
  font-weight: bold;
}
.box28s p {
  margin: 0; 
  padding: 0;
}


.leadcolor{
  color:#ae6b13;
  font-size:15px;
}

.totop{
float: right !important;;
}